/*GENERAL*/

* {
	box-sizing: border-box;
}

/*FONTS*/

@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('fonts/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('fonts/montserratalternates-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap');

h1 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bolder;
	font-style: italic;
}

span {
	font-family: 'Modak', cursive;	
}

h1, p span {
	color: #4ab3a9;
	font-size: 72px;
}

p {
	font-family: Helvetiva, Arial, sans-serif;
	margin: 15px;
}

div {
	font-family: 'Dancing Script', cursive;
	font-size: 15px;
}

h2 {
	font-family: 'montserratregular';
	font-size: 48px;
	font-weight: normal;
	cursor: pointer;
}

.dodaj p, h3{
	font-family: 'montserrat_alternatesbold';
	font-size: 48px;
}

/* JS - LOOPS */

#puni, .dodaj {
	display: flex;
}

/* JS - INPUT FIELDS */

.input-title {
	font-family: Helvetiva, Arial, sans-serif;
	font-size: 48px;
	width: 16em;
	margin: 10px auto;
	text-align: center;
	cursor: pointer;
	border: solid 3px blue;
	border-radius: 30px;
	background-color: #ccc;
}

.input-field {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 50em;
	margin: 10px auto;
	background: #aaa;
	border-radius: 15px;
}

.input-field input {
	width: 47%;
	height: 50px;
	font-size: 24px;
	border-radius: 15px;
	border-collapse: collapse;
	text-decoration: none;
	margin: 10px;
	padding: 15px;
	background-color: #eee;
}

/* FLEX LIST @ FORM */

.lista, form div {
	margin: 0;
	padding: 0;
	background-color: lightsteelblue;
}

.arrow_box {
	position: relative;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
	font-size: 24px;
}

.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}

.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}

ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: 20px;
}

li {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: solid 3px black;
}

li span {
	font-size: 32px;
}

.white {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.a {
	order: 1;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 100px 100px 100px;
	border-color: transparent transparent #007bff transparent;
}

.yellow {
	background-color: yellow;
}
 
.blue {
	background-color: blue;
}

.green {
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 400px;
	margin: 0 auto;
	border: solid 3px black;
}

.forma {
	display: flex;
	justify-content: space-around;
}

label {
	width: 60px;
}

.forma input, label {
	margin: 10px;
	padding: 5px;
}

.forma input, .subm {
	width: 230px;
	justify-content: right;
}

.subm {
	height: 30px;
	margin: 10px 75px;
	cursor: pointer;
	font-size: 20px;
}

.subm:hover {
	background-color: orange;
}

.testimg {
	display: flex;
	justify-content: space-around;
}

.testimg img {
	width: 50px;
	margin: 5px;
}

